<a href="https://colab.research.google.com/github/purvesh0110/Movie-Recommendation-Project/blob/main/movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [35]:
import pandas as pd

In [34]:
import numpy as np

Import Dataset

In [36]:
df = pd.read_csv(r'/content/Movies Recommendation.csv')

In [ ]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1.0,Four Rooms,Crime Comedy,en,4000000.0,22.876230,09-12-1995,4300000.0,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2.0,Star Wars,Adventure Action Science Fiction,en,11000000.0,126.393695,25-05-1977,775398007.0,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3.0,Finding Nemo,Animation Family,en,94000000.0,85.688789,30-05-2003,940335536.0,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4.0,Forrest Gump,Comedy Drama Romance,en,55000000.0,138.133331,06-07-1994,677945399.0,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5.0,American Beauty,Drama,en,15000000.0,80.878605,15-09-1999,356296601.0,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4766 entries, 0 to 4765
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   float64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   float64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   float64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   float64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(7), object(14)
memory usage: 782.0+ KB

In [ ]:
df.shape

(4766, 21)

In [ ]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

Get Feature Selection

In [ ]:
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [ ]:
df_features.shape

(4766, 5)

In [ ]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4761,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4762,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4763,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4764,Family,,,,
4765,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [ ]:
X=df_features['Movie_Genre']+''+df_features['Movie_Keywords']+''+df_features['Movie_Tagline']+''+df_features['Movie_Cast']+''+df_features['Movie_Director']

In [ ]:
X

0       Crime Comedyhotel new year's eve witch bet hot...
1       Adventure Action Science Fictionandroid galaxy...
2       Animation Familyfather son relationship harbor...
3       Comedy Drama Romancevietnam veteran hippie men...
4       Dramamale nudity female nudity adultery midlif...
                              ...
4761    HorrorThe hot spot where Satan's waitin'.Lisa ...
4762    Comedy Family DramaIt’s better to stand out th...
4763    Thriller Dramachristian film sex traffickingSh...
4764                                               Family
4765    Documentarymusic actors legendary perfomer cla...
Length: 4766, dtype: object

In [ ]:
X.shape

(4766,)

Get Feature Text Conversion to Tokens

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer()

In [ ]:
X = tfidf.fit_transform(X)

In [ ]:
X.shape

(4766, 27466)

In [ ]:
print(X)

  (0, 1028)	0.1619554815153917
  (0, 24785)	0.19545180660252723
  (0, 15844)	0.14204984753132982
  (0, 15553)	0.17098533004698419
  (0, 2132)	0.18001517857857663
  (0, 13312)	0.09915187317871524
  (0, 1887)	0.14105989136753122
  (0, 1216)	0.13920295402820473
  (0, 21158)	0.14204984753132982
  (0, 24701)	0.11357931607232669
  (0, 14943)	0.09138628839770924
  (0, 18098)	0.06201981390845153
  (0, 26738)	0.17504569432734132
  (0, 9790)	0.08713594715013588
  (0, 26675)	0.1116885760247172
  (0, 13401)	0.13748900495984862
  (0, 24105)	0.1072983562024134
  (0, 18192)	0.07280094561517009
  (0, 6172)	0.11970596172389694
  (0, 9626)	0.11758337097578674
  (0, 11960)	0.20135567228320797
  (0, 12801)	0.15305902561375576
  (0, 2292)	0.19545180660252723
  (0, 15172)	0.15376612317248112
  (0, 18196)	0.0858009949570073
  :	:
  (4763, 1839)	0.1932825073207342
  (4763, 5410)	0.197353076136674
  (4763, 11350)	0.21582511236765847
  (4763, 22017)	0.16465138893655665
  (4763, 17789)	0.18882043810799495
  (4763, 9484)	0.14113207070993097
  (4763, 14176)	0.23308225980461642
  (4763, 11762)	0.17322371227157546
  (4763, 14052)	0.17764026418575815
  (4763, 24232)	0.10949912445003418
  (4763, 24746)	0.09747285022781686
  (4763, 13079)	0.12402241606323057
  (4763, 17721)	0.1489227274039385
  (4764, 8651)	1.0
  (4765, 18229)	0.3352685885641327
  (4765, 22434)	0.3352685885641327
  (4765, 18841)	0.3352685885641327
  (4765, 6950)	0.3352685885641327
  (4765, 345)	0.3197792225420959
  (4765, 14742)	0.3197792225420959
  (4765, 12139)	0.27781061040951144
  (4765, 4446)	0.28231009634303755
  (4765, 17552)	0.3087893424535852
  (4765, 9955)	0.21806443477393336
  (4765, 2285)	0.21466650942820428

Get Similarity Score Using Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
Similarity_Score = cosine_similarity(X)

In [ ]:
Similarity_Score

array([[1.        , 0.01439128, 0.038084  , ..., 0.        , 0.        ,
        0.        ],
       [0.01439128, 1.        , 0.0084516 , ..., 0.        , 0.        ,
        0.        ],
       [0.038084  , 0.0084516 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [ ]:
Similarity_Score.shape

(4766, 4766)

Get Movie Name as Input From users and Validate for Closet Spelling

In [12]:
Favourite_Movie_Name = input ('Enter your Favourite Movie name:')

Enter your Favourite Movie name:avtaar

In [37]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [31]:
import difflib

In [40]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

TypeError: ignored

In [28]:
Close_Match = Movie_Recommendation[0]
print(Movie_Recommendation)

NameError: ignored

In [30]:
Index_of_close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_close_Match_Movie)

NameError: ignored

In [33]:
#getting  a list of similar movies
Recommendation_score = list(enumerate(Similarity_Score[Index_of_close_Match_Movie]))

NameError: ignored

In [41]:
len(Recommendation_score)

NameError: ignored